.about {
  display: flex;
  background-color: #0a2850;
  box-sizing: border-box;
  position: relative;
  justify-content: space-between;
  z-index: -1;
  overflow: hidden;
}

.about__title {
  color: #ffffff;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  margin-top: 100px;
  margin-left: 80px;
}
.about__content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  max-width: 660px;
  margin-top: 119px;
  margin-left: 80px;
  margin-bottom: 113px;
  gap: 20px;
}

.about__paragrafh {
  color: #ffffff;
  margin-bottom: 26px;
  max-width: 660px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  font-weight: 500;
  font-style: normal;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}
